<div class="form-group">
  <label>Direction Scan Results</label>
  <textarea class="form-control" ng-model="validator.dscan"></textarea>
</div>
<div class="form-group">
  <label>Parsed Results</label>
  <button class="btn btn-default pull-right" ng-click="validator.toggleFilterState()">{{validator.filterState}}</button>
  <div class="form-group">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Distance</th>
        <th>Valid</th>
      </tr>
      <tr ng-repeat="item in validator.filtered | filter:{show:true} | orderBy:['type', 'name']">
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.distance}}</td>
        <td>{{item.valid}}</td>
      </tr>
    </table>
  </div>
</div>